* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

input {
  border-radius: 8px;
  padding: 8px;
  width: 60%;

  text-align: center;
  border: gray 1px solid;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
}

button:active {
  transform: scale(1.05);
}
