* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: 10cqh;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
